<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      @media screen and (max-width:1200px){
        div{
          height:100vh;
        }
      }
    </style>
  </head>
  <body style="width: 100%; height: 100%; background-color: #bedcfa; height: 100%">
    <div>
      <p>&nbsp;</p>
      <p style="margin-top: 20%; text-align: center; color: rgb(60, 74, 156); font-size: 3em; height: 10%;">
        <strong>당신을 향의 세계로 초대합니다!</strong>
      </p>
      <img
        src="https://cdn.pixabay.com/photo/2020/05/24/20/08/atomizer-5215991_960_720.png"
        width="20%"
        height="30%"
        style="margin-top: 10%; margin-left: 42%"
      />
      <p id="p2"
        style="
          margin-top: 10%;
          text-align: center;
          color: rgb(60, 74, 156);
          margin-top: 10%;
          font-size: 2em;
        "
      >
        어울리는 향을 찾기 위한 여정,
    </p>
      <p id="p3" style="text-align: center; color: rgb(60, 74, 156); font-size: 2em; height: 10%;">
        함께 시작해 봅시다.
      </p>
      <button
        type="button"
        class="btn btn-primary btn-lg"
        style="margin-top: 1%; margin-left: 47%"
        onclick="location.href='/q01'"
      >
        Start
      </button>
    </div>
  </body>
</html>

