<html>
  <head>
    <style>
       @media screen and (max-width:1200px){
                div{
                    height:100vh;
                }
            }
    </style> </head>
  <body
    style="
      text-align: center;
      background-color: rgb(124, 75, 143);
      color: rgb(231, 223, 245);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Fougere</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      사교적이며 낙천적이고 정이 많은 당신은 감각적인 향인 푸제르 향을
      추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 2em;">
        푸제르 향은 숲의 향기로 식물이 내는 신선하고도 깊이 있는 향입니다.
        라벤더 타입인 향은 따뜻하고 부드러운 느낌이 풍기는 향으로 사교적이면서
        낙천적이고 정이 많은 당신과 어울립니다. 포멀한 차림에 어울리는 중후한
        느낌을 내며 지적인 이미지도 연출하고 편안하면서 심플한게 매력적인
        향입니다. 당신은 둥글둥글하며 사람들의 이목을 끌지 않고 변화에
        금방적응합니다. 재치있고 사람에 대한 관심이 많으며 모든 것을 즐기려고
        합니다. 타인의 사랑도 많이 받지만 베푸는 것을 좋아합니다. 규칙적인
        일에는 적응을 하기 힘들어합니다. 서프라이즈나 깜짝파티를 좋아하는
        사람입니다.
      </p>
    </div>
  </body>