<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(219, 147, 3);
      color: rgb(52, 9, 126);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Cookie- Gourmand</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      타고난 분위기 메이커인 당신은 달달한 구르망 향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.8em;">
        구르망은 달달하면서 풍미있는 향으로 타고난 분위기 메이커인 당신과
        어울리는 향입니다. 구르망은 바닐라, 꿀, 초콜릿과 같은 단 음식에서 나는
        달콤한 향기가 당신과 닮았습니다. 달콤함보다 더 찐득한 향기로 향을 맡으면
        먹고 싶은 요구가 들게 합니다. 당신은 어색함을 깨는 사람으로 수업이나
        무대에 호응을 가장 많이 해줍니다. 방청객 같은 리액션고 높은 공감력으로
        어딜가든 사회생활을 잘합니다. 높은 친화력으로 주변을 잘 챙기고
        사람들과의 소통으로 살아있음을 느낍니다. 의리와 동료애가 많으 편이고
        집단에서 솔선수범합니다. 자신의 선택에 의해 사람들이 상처 받을까봐
        걱정을 많이 합니다. 자신이 주는 편이 많고 혹시 그만큼 못 받으면 상처를
        받습니다.
      </p>
    </div>
  </body>
</html>