<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(54, 37, 4);
      color: rgb(204, 204, 143);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Animalic</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      화통하고 유쾌한 사람으로 매력덩어리인 당신에게 강한 인상을 주는 애니멀릭을
      추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 2em;">
        애니멀릭은 동물성 향로로 강한 인상을 주기 때문에 직설적이면서 친근한
        농담을 하며 주변의 시선을 끌고 웃게 만드는 당신과 잘 어울립니다. 이 향은
        관능적이며 섹시한 향입니다. 풍부한 따뜻함에 관능적인 느낌을 더합니다.
        활동적이며 자신감이 많고 자유분방한 당신은 강렬하기에 소량으로 사용되는
        애니멀릭이 적합합니다. 인간이 가진 원초적 본능의 향입니다. 당신은
        무엇이든 직접 경험하는 것을 좋아합니다. 돌발 상황에 잘 대처하며 위기를
        능숙하게 모면합니다. 딱딱한 가르침보다는 체험적인 배움을 추구하는
        사람입니다. 쿨해서 뒤끝이 없고 눈치가 빠른 사람입니다.
      </p>
    </div>
  </body>
</html>
