<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(223, 147, 191);
      color: whitesmoke;
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Fruity</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      사교적이고 새로운 사람과 잘 어울리는 당신에게 달달한 과일을 품은 프루티
      향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.8em;">
        프루티 향은 달달함을 가진 이와 잘 어울립니다. 복숭아, 딸기, 사과와 같은
        따뜻한 달달함으로 행복을 전해줍니다. 복숭아를 재배하는 농부에게는 수확의
        달콤함을, 먹는 이에게는 맛의 달콤함을 줌과 같이 이 향은 행복을 주는
        향입니다. 이런 향의 특징은 어린아이처럼 새로운 상황과 관계를 즐겨
        타인에게 편안함을 주는 당신과 많이 닮았습니다. 당신은 새로움을
        두려워하지않아 도전적인 모습이 타인에게 굉장히 매력적이고 발랄하게
        느껴집니다. 상황에 따라 달라지지 않고 한결같은 당신의 모습은 정서적으로
        깊은 유대관계를 형성하기에 충분합니다. 또한 의존적이지 않고 독립적이기
        때문에 그런 모습은 자유롭고 행복해보입니다. 이렇게 열정적임으로 매력적인
        당신에게 달달한 행복을 닮은 향 프루티를 추천합니다.
      </p>
    </div>
  </body>
</html>
