<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgba(110, 173, 129, 0.726);
      color: rgb(11, 83, 50);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Green</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      타인에게 도움을 주는 것에 무엇보다 앞장서 있는 당신에게 자연을 닮은 그린
      향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.8em;">
        그린 향은 숲처럼 포용력을 가진 이와 잘 어울립니다. 숲, 나무, 꽃과 같이
        자신의 성장과 동시에 타인의 성장 또한 도모합니다. 숲은 스스로 성장함과
        동시에 동물, 사람에게 안식처와 성장의 계기를 제공합니다. 이 향은 힐링을
        주는 향입니다. 이런 향의 특징은 자신의 성장과 동시에 타인의 성장에
        적극적으로 도움을 주는 당신과 많이 닮았습니다. 당신은 사람에게 감명을 줄
        수 있는 언변의 마술사 입니다. 이러한 모습은 타인에게 새로운 생각의
        전환을 느끼도록합니다. 남을 돕기 위해 가장 먼저 협동에 나서는 당신은
        누구보다 멋있고 포용적입니다. 또한 그런 모습이 타인의 행동의 변화를
        유도합니다. 이렇게 타인의 생각과 마음을 열 수 있는 만능 열쇠인 당신에게
        힐링을 주는 자연을 닮은 향 그린을 추천합니다.
      </p>
    </div>
  </body>
</html>