<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(27, 40, 214);
      color: rgb(165, 202, 233);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Water</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      냉철한 판단력을 가지고 넘치는 카리스마와 자신감을 가진 당신에게 워터 향을
      추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.6em;">
        워터 향은 카리스마를 가진 이와 잘 어울립니다. 바다와 강은 자신이
        존재함으로써 많은 생물에게 삶의 터전을 제공합니다. 바다와 강은 모든
        생물의 근원임과 동시에 그들을 포용합니다. 이 향은 자신감을 주는
        향입니다. 이런 향의 특징은 천성적으로 타고난 리더의 성향을 가지고 있는
        당신과 많이 닮았습니다. 당신의 활력적임은 지친 사람들도 앞으로 더
        나아가고 비전을 가질 수 있도록 합니다. 실패의 구렁텅이에서 나와서 성공을
        위해 다시 도약할 수 있도록 도움을 주고 도움이 필요한 이를 이끌어 나아가
        줍니다. 그렇기 때문에 주변에 당신에게 자문을 구하고 의존하고 싶은
        사람들로 항상 붐빕니다. 그러한 모습이 더 많은 이들이 당신의 주변에
        모이도록합니다.당신은 이렇게 많은 이들도 충분히 이끌어갈 자질을 가진
        사람입니다. 이렇게 비전을 가지고 함께 나아가고자 하는 당신에게
        카리스마와 자신감을 가진 향 워터를 추천합니다.
      </p>
    </div>
  </body>
</html>
