<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(48, 32, 122);
      color: rgb(253, 253, 252);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Esmeridic</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      만능 재주꾼으로 창조의 신이자 실질적인 경험을 통해 아이디어를 얻는 당신은
      시원한 아쿠아향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.9em;">
        아쿠아 향은 시원하고 상쾌함을 느끼게 해주는 향입니다. 신선함을 주고
        도시적이면서 중성적인 느낌이 강합니다. 조용하면서도 프라이빗을 중요하게
        여기는 당신은 물의 향이 강하여 차가워 보일 수도 있지만 그와 동시에
        도도함을 느끼게 해주는 향과 잘 어울립니다. 또한 무겁지 않고 깔끔한
        향입니다. 틀에 박힌 것을 고수하지 않고 융통성이 있는 당신은 다양한
        연출이 가능한 아쿠아 향이 적합합니다. 무더운 여름에 무겁게 느껴지는 향에
        아쿠아 향이 나면 피로감을 해소시켜주는 향입니다. 당신은 새로운 것에
        저항이 크지 않고 호기심이 많다 도전과 탐색을 좋아하고 잔재주가 많으면서
        유머러스 합니다. 순간 집중력이 많아 벼락치기를 하는 편입니다.
      </p>
    </div>
  </body>
</html>
