<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(122, 106, 32);
      color: rgb(229, 233, 202);
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Aldehyde</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      성실하고 책임감이 넘치며 규칙과 법을 잘 지키는 충직한 당신에게 알데히드
      향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.8em;">
        이 향은 오래 사용해도 지겹지 않고 보통 친숙한 비누향으로 알려져
        있습니다. 또한 풀을 먹인 듯 조금 빳빳한 느낌을 가지고 있고 깔끔한
        이미지를 주는 향으로 깔끔한 이미지를 갖는 당신과 어울립니다. 또한 천연
        혹은 인공적인 원료로부터 얻어진 유기화합물로 향의 느낌은 마치 불이 꺼진
        양초 같이 강렬하지만 우아한 느낌을 줍니다. 알데히드는 다른 향과 조합되면
        깨끗해지는 향으로 평소 거짓말을 하지 않고 신뢰있는 사람으로 잘
        어울립니다. 당신은 한번 시작한 일은 끝까지 해내는 편이며 목표나 목적을
        달성하기 위해 필요한 업무를 신중하고 정확히 합니다. 충동적인 행동을
        함부로 하지 않고 이유없이 중단하거나 포기하지 않는 사람입니다. 또한
        자신의 얘기를 하는 것을 잘 못합니다.
      </p>
    </div>
  </body>
</html>
