<html>

<head>
    <style>
        @media screen and (max-width:1200px){
                 div{
                     height:100vh;
                 }
             }
     </style>
</head>

<body style="text-align: center; background-color: rgb(74, 128, 86); color: whitesmoke;">
    <p style="margin-top: 8%; font-size: 3em; height: 10%;">Mossy</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
        사람의 긍정적인 면을 바라보고 사람을 신뢰하는 당신에게 모시 향을 추천합니다.
        <div style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%">
            <p style="line-height: 300%; font-size: 1.6em;">
                모시 향은 순수함을 가진 이와 잘 어울립니다. 축축한 이끼와 곰팡이에 영감을 얻어 만들어진 향인만큼 새로움을 주는 향입니다.
                다소 생소한 향이기 때문에 처음에는 어렵지만 접하게 될 수록 집중되어지고 익숙함을 주는 향입니다.
                이런 향의 특징은 순수한 의드로 인생의 아름다움과 멍예, 도덕적 양심과 미덕을 따라가는 당신과 많이 닮았습니다.
                당신은 부정적이기보다는 긍정적인 사고를 가지고 세상을 바라봅니다. 그렇기 때문에 이 사회는 이상적인 세상이라고 생각합니다.
                이 사회의 따뜻함도 당신이 만들어가는 것입니다. 그렇기 때문에 타인에게 선함을 전파시키고 부정적임을 치유하도록합니다.
                이러한 모습이 대부분 따뜻하게 느껴집니다. 종종 의도를 제대로 이해하지 못한 이가 오해하기도 하지만 그것은 중요치 않습니다.
                자신다움을 꾸준히 이어나가고 그게 빛을 발하게될 당신에게 순수함을 닮은 향 모시를 추천합니다.
            </p>
        </div>
</body>

</html>
