<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body style="text-align: center; background-color: rgb(241, 241, 169)">
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Fresh</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      강직함과 나긋함을 모두 가지고 있으며 진정한 자신만의 성향을 가진 당신에게
      프레시 향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.7em;">
        프레시 향은 사랑을 가진 이와 잘 어울립니다. 생생함과 신선함에 바탕을
        두고 만들어진 향인만큼 온화함을 주는 향입니다. 따뜻함과 생생함, 신선함을
        모두 가진 것이 바로 사랑이라고 할 수 밖에 없기 때문에 사랑의 특징을 담은
        향입니다. 이러한 향의 특징은 특유의 섬세함으로 마음을 어루어 만져주는
        당신과 많이 닮았습니다. 당신은 진정한 사랑과 인간애를 가장 중요시하기
        때문에 창의적이고 이타주의 적입니다. 그래서 어둠을 속을 나아갈 힘이되어
        줄 한줄기의 빛과 같은 사람입니다. 사교적이고 많은 이에게 섬세한 언어로써
        대화함으로 많은 사람들이 주위에 머뭅니다. 하지만 재충전을 위해 종종
        혼자만의 시간을 가지기도 합니다. 또한 여유로움까지 겸비하고 있어서 더욱
        당신이 사랑스럽게 느껴지도록 합니다. 이렇게 사랑스러움으로 완전 무장한
        당신에게 딱 어울리는 향 생생 프레시를 추천합니다.
      </p>
    </div>
  </body>
</html>
