<html>
  <head>
    <style>
      @media screen and (max-width:1200px){
               div{
                   height:100vh;
               }
           }
   </style>
  </head>
  <body
    style="
      text-align: center;
      background-color: rgb(14, 78, 62);
      color: whitesmoke;
    "
  >
    <p style="margin-top: 10%; font-size: 3em; height: 10%;">Chypre</p>
    <p style="margin-top: 4%; font-size: 2em; height: 10%;">
      뛰어난 미래를 보는 눈을 가진, 일의 해결하는데 뛰어난 능력을 가진 당신에게
      시프레 향을 추천합니다.
    </p>
    <div
      style="border: 1px solid; width: 50%; margin-left: 25%; margin-top: 3%"
    >
      <p style="line-height: 300%; font-size: 1.6em;">
        시프레 향은 차분함을 가진 이와 잘 어울립니다. 축축하게 젖은 나무잎이나
        그을듯한 향은 차분함을 전해줍니다. 떡갈나무에 서식하는 이끼 오크모스를
        바탕으로 시작된 향이기에 이 향은 신비로움 또한 가지고 있는 향입니다.
        이런 향의 특징은 평범함을 거부하고 새로운 것을 시도하는 당신과 많이
        닮았습니다. 당신은 과거를 통해 배우고 현재를 살아가기 위해 최선을 다하며
        미래에 대한 희망을 가지고 끝없이 질문합니다. 호기심 또한 많아 많은 것에
        대한 경험이 있고 자신의 확고한 관점이 있기 때문에 때로는 그 관점이
        비평적으로 느껴집니다. 차분하게 문제를 바라보고 새로운 방법의 대안을
        생각해 내는 당신의 모습에 사람들은 신비함을 느끼게 됩니다. 그 신비함과
        차분함에 매료되어 당신의 주변에 특정 사람들이 머물도록 합니다. 이렇게
        신비스럽도록 차분한 당신에게 지중해의 섬 키프로스를 닮은 향 시프레를
        추천합니다.
      </p>
    </div>
  </body>
</html>
